* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.wrapper {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* header */

.nav_wrap {
  flex-grow: 1;
  width: 1140px;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: #fff;
}

.nav_logo {
  width: 200px;
  margin-top: 20px;
}

/* logoWhenSlidingDown */

.proper_nav_wrap {
  margin-top: 30px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav_logo img {
  width: 100%;
}
.nav_proper ul {
  display: flex;
}

.nav_proper ul li {
  list-style: none;
  margin: 0 35px 0 0;
}

.nav_proper ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}
.nav_proper ul li a:hover {
  color: rgb(252, 20, 44);
}

.nav_search {
  position: relative;
}

.search_input {
  width: 200px;
  height: 25px;
  padding: 5px 10px;
}

.search_button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search_button i {
  transform: scaleX(-1);
}

.nav_socials {
  height: 18px;
  align-self: center;
}

.nav_socials button {
  cursor: pointer;
  margin: 0 10px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  transition: 0.2s;
}

.nav_socials button:hover {
  color: rgb(252, 20, 44);
}

/* modal*/

.modal {
  background-color: #eee;
  width: 100%;
  padding-left: calc(calc(100% - 1140px) / 2);
  padding-right: calc(calc(100% - 1140px) / 2);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  z-index: 1;
}

.modal_submenu {
  list-style: none;
}

.modal_submenu li {
  padding: 40px 40px 25px 0;
  display: inline-block;
}

.modal_submenu a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

.modal_submenu a:hover {
  color: rgb(252, 20, 44);
}

.modal_columns {
  display: flex;
  margin-bottom: 10px;
}

.modal_columns > div {
  border-right: 1px #ccc solid;
  width: 25%;
}
.modal_columns .fourth_column {
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal_columns .fourth_column div {
  padding-right: 0;
}

.modal_columns .news_big {
  padding-left: 0;
  font-size: 17px;
}

.news_big_image {
  width: 262px;
  height: 137px;
  overflow: hidden;
  transition: 0.2s;
}

.news_big_image img {
  width: 100%;
  transition: 0.2s;
}

.news_big_image img:hover {
  transform: scale(1.25);
}

.modal_columns .news_big .news_big_text {
  padding-left: 0;
}

.author {
  position: relative;
  margin-top: 5px;
  font-size: 13px;
  color: #333;
  font-weight: 700;
  margin-left: 50px;
}

.author::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #000;
  left: -18%;
  top: 50%;
}

.modal_columns > div > div {
  padding: 10px 20px 0 20px;
}
.modal_columns > div > div > div:nth-child(2) {
  padding: 5px 0 0 25px;
}

.modal_columns .date {
  margin-top: 3px;
  color: #999;
}

.modal_columns .lead {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.modal_columns .news_small {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.news_small_image img {
  height: 92px;
  width: 92px;
}

.news_small_text {
  word-wrap: break-word;
  flex-grow: 0.5;
}

.news_small .lead,
.news_text .lead {
  transition: 0.2s;
}
.news_small .lead:hover,
.news_text .lead:hover,
.news_section_lead:hover {
  cursor: pointer;
  color: rgb(252, 20, 44);
}

.hidden {
  display: none;
}

/* banner */
.banner {
  background-color: #888;
  width: 1140px;
  height: 370px;
}

/* slider */

.slider {
  width: 1140px;
  height: 400px;
  position: relative;
  display: flex;
  background-color: rgb(252, 20, 44);
  color: #fff;
  overflow: hidden;
}

.slider_left {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 35%;
}

.slider_right {
  width: 65%;
}

.slider_right img {
  height: 100%;
}

.slider_date {
  padding: 30px;
}

.slider_lead {
  padding: 0 20px 20px 30px;
  font-size: 40px;
  font-weight: bold;
}

.slider_author {
  margin-left: 80px;
  position: relative;
}

.slider_author::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #fff;
  left: -12%;
  top: 50%;
}

.slider_button {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 29%;
  bottom: 7%;
  background-color: transparent;
  color: #fff;
  border: 1px white solid;
  font-size: 30px;
  border-radius: 50%;
}

.left_button {
  left: 25%;
}

.slider_button:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgb(252, 20, 44);
}

/* main content  */

.main_content_wrap {
  display: flex;
}

.section_title {
  width: 100%;
  padding-bottom: 10px;
}

/* news section  */
.news_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 20px 30px 0px;
  width: 73%;
}

.news_section_news {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
}

.news_section_news:nth-of-type(4),
.news_section_news:nth-of-type(5),
.news_section_news:nth-of-type(9),
.news_section_news:nth-of-type(10) {
  width: 390px;
  height: 295px;
}

.news_section_image {
  position: relative;
  height: 130px;
  overflow: hidden;
}

.news_section_news:nth-of-type(4) .news_section_image,
.news_section_news:nth-of-type(5) .news_section_image,
.news_section_news:nth-of-type(9) .news_section_image,
.news_section_news:nth-of-type(10) .news_section_image {
  height: 200px;
}

.news_section_lead {
  padding-top: 15px;
  font-weight: 400;
  transition: 0.2s;
}

.news_section_image img {
  width: 100%;
  transition: 0.3s;
}

.news_section_image::before {
  content: "#gatunek";
  position: absolute;
  display: block;
  left: 65%;
  bottom: 0;
  height: 20px;
  padding: 3px 6px;
  line-height: 20px;
  background-color: rgb(252, 20, 44);
  font-size: 12px;
  color: #fff;
}

.news_section_news:nth-of-type(4) .news_section_image::after,
.news_section_news:nth-of-type(5) .news_section_image::after,
.news_section_news:nth-of-type(9) .news_section_image::after,
.news_section_news:nth-of-type(10) .news_section_image::after {
  left: 75%;
  bottom: 0;
}

.news_section_image img:hover {
  transform: scale(1.25);
}

/* side content  */
.side_content {
  width: 27%;
}

/* populars */
.pop {
  display: flex;
}

.pop_image {
  width: 100%;
}

.pop_image img {
  width: 100%;
}

/* facebook bar */

/* don't miss  */
